<appender name="ROLLINGFILE-Debug" class="ch.qos.logback.classic.sift.SiftingAppender">
    <discriminator>
        <Key>method</Key>
        <DefaultValue>OtherMethod</DefaultValue>
    </discriminator>
    <sift>
        <appender name="Info"  class="ch.qos.logback.core.rolling.RollingFileAppender">
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${LOG_HOME}/${method}/%d{yyyy-MM-dd}-debug.log
                </fileNamePattern>
                <maxHistory>15</maxHistory>
            </rollingPolicy>
            <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
                <MaxFileSize>10MB</MaxFileSize>
            </triggeringPolicy>
            <encoder>
                <pattern><![CDATA[[%-5level]%d{yyyy-MM-dd HH:mm:ss.SSS} %logger - %msg%n]]></pattern>
            </encoder>
            <filter class="ch.qos.logback.classic.filter.LevelFilter">
                <level>DEBUG</level>
                <onMatch>ACCEPT</onMatch>
                <onMismatch>DENY</onMismatch>
            </filter>
        </appender>

    </sift>
</appender>